{{- if .Values.RBAC.ServiceAccount.Create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.jenkins: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{template "jenkins-openshift.fullname" .}}"}}'
    {{- if .Values.RBAC.ServiceAccount.Annotations }}
    {{- toYaml .Values.RBAC.ServiceAccount.Annotations | nindent 4 }}
    {{- end }}
  name: {{ .Values.RBAC.ServiceAccount.Name }}
  labels:
    {{- include "jenkins-openshift.labels" . | nindent 4 }}
{{- end }}